/* -----------------------------------------------
--------------------------------------------------
    POLICES POUR DYSLEXIQUES
        * OpenDyslexic pour les titres
        * Andika pour le texte
--------------------------------------------------
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('fonts/opendyslexic.otf') format('opentype');
}

@font-face {
    font-family: Andika;
    src: url('fonts/Andika-R.woff') format('woff');
}


a.credits {
  font-size: 1rem;
  color: rgba(100, 100, 100, 0.75);
}

.step.hide-when-inactive {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.step.hide-when-inactive:not(.active) {
  opacity: 0;
}

.step.fullwidth {
  width: 100vw;
}

.step.full {
  height: 100vh;
  width: 100vw;
}

.step.full p {
  margin: 0;
}

.step.no-title h1 {
  display: none;
}

.step.light-fadeout {
  opacity: 0.7;
}

.step.no-fadeout {
  opacity: 1;
}

img, video {
  max-width: 100%;
  max-height: 100%;
}

.slide {
    color: black;
}
.slide h1, .slide h2, .slide h3, .slide h4 {
    color: black;
}

.slide-dark {
    display: block;

    width: 900px;
    height: 650px;
    padding: 40px 60px;

    background-color: rgb(37, 37, 37);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.enlarge-slide {
    width: 1300px;
    height: auto;
    padding: 40px 30px;
}

/* -----------------------------------------------
--------------------------------------------------
    MISE EN PAGE GLOBALE
--------------------------------------------------
-------------------------------------------------- */
html { font-size: 125%; }

h1, h2 { font-size: 36px; font-size: 3.6rem; }
h3 { font-size: 30px; font-size: 3rem; }
h4 { font-size: 24px; font-size: 2.4rem; }
h5 { font-size: 18px; font-size: 1.8rem; }
h6 { font-size: 14px; font-size: 1.4rem; }
p { font-size: 18px; font-size: 1.8rem; }
li { font-size: 14px; font-size: 1.4rem; }
pre, code { font-size: 14px; font-size: 1.4rem; }

body {
    text-align: center;
    font-family: Andika;
    background-color: #121212 !important;
    color: white;
}
h1, h2, h3, h4 {
    font-family: OpenDyslexic;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    color: white;
}
p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
pre {
    margin-left: 5em;
    margin-right: 5em;
    text-align: left;
}
code { font-family: Andika; }
ul, ol {
    list-style-position: inside;
}
li {
    font-family: Andika;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 3em;
    line-height: 1.8em;
    text-align: left;
}

/* Alert slide */

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(204,0,0, 0.4);
  }
  60% {
      -moz-box-shadow: 0 0 0 50px rgba(204,0,0, 0);
      box-shadow: 0 0 0 50px rgba(204,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,0,0, 0);
      box-shadow: 0 0 0 0 rgba(204,0,0, 0);
  }
}

.alert-slide > img {
	background-color: black;
	border: 5px solid red;
  display: block;
	animation: pulse 2s infinite;
}


/* -----------------------------------------------
--------------------------------------------------
    DES TRUCS À NE PAS SUPPRIMER
        indispensables pour faire fonctionner
        les présentations
--------------------------------------------------
-------------------------------------------------- */
.hidden {
    display: none;
}

.impress-supported .fallback-message,
.step .notes {
    display: none;
}
/* affichage des steps */
.step {
    width: 1000px;
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
.step.active { opacity: 1 }

/* fenêtre pop-up de l'aide */
#hovercraft-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    left: 2em;
    bottom: 2em;
    width: 26em;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #hovercraft-help.hide {
    display: none;
}
#hovercraft-help.disabled {
    display: none;
}

/* step aligné à gauche ou à droite */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* affichage du step en type "slide" (fond blanc genre diapositive) */
.slide {
    display: block;

    width: 900px;
    height: 650px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

/* affichage des images et vidéos */
.figure {
    text-align: center;
}
.figure > img {
    max-width: 100%;
    height: auto;
}
.figure > video {
    max-width: 70%;
    height: auto;
}

/* Slide specifics */

/* Zoom on harold's face */

/*@keyframes zoomHarold {
  0% {
    transform: translate(-50%, -50%) translate3d(5500px, 2500px, 500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) translate3d(5800px, 2600px, 750px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scale(1);
  }
}

#section-harold.active {
  animation: zoomHarold 60s forwards 5s;
}*/
