doctype html
html

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title TEDx Nouméa - Pour mieux décider, reprenons en main l'information !
    link(rel='stylesheet', href='app.css')

  body.impress-not-supported
    #impress
      section#section.level1.step.no-fadeout(data-scale='2')
        h2 Pour mieux décider, reprenons en main l'information !

      section#section-1.level1.step.hide-when-inactive.fullwidth(data-z='-500', data-rotate-y='180', data-scale='2')
        img(src='images/assemblee.jpg')
        br
        a.credits(href='https://commons.wikimedia.org/wiki/File:Panorama_de_l%27h%C3%A9micyle_de_l%27assembl%C3%A9e_nationale.jpg') Crédits: Richard Ying et Tangui Morlier

      section#section-2.level1.step.no-fadeout(data-y='2500', data-z='15000', data-rotate-y='180')
        h3 Démocratie liquide 
        hr
        img(src='images/direct-democracy.png')
        hr
        p
          img(src='images/democracy-earth.png')

      section#section-2-bis.level1.step.hide-when-inactive(data-y='2500', data-z='15000', data-rotate-y='180')
        h3 Démocratie liquide 
        hr
        img(src='images/liquid-democracy.png')
        hr
        p
          img(src='images/democracy-earth.png')

      section#section-3.level1.step(data-x='-1500', data-y='2500', data-z='15000', data-rotate-y='180')
        p
          img(src='images/switzerland.png', style='vertical-align: baseline;', height='150')
        h3 Démocratie semi-directe en Suisse
        p
          br
        ul
          li Référundum facultatif = 50.000 signatures
          li Référendum d'initiative populaire = 100.000 signatures

      section#section-4.level1.step.fullwidth(data-x='-3500', data-y='2500', data-z='15000', data-rotate-y='180')
        img(src='images/parlement-et-citoyens.jpg')

      section#section-5.level1.step(data-x='-5500', data-y='2500', data-z='15000', data-rotate-y='180')
        img(src='images/useless_tech.png')

      section#section-6.level1.step.slide-dark(data-x='-4500', data-y='2500', data-z='0', data-rotate-y='180')
        h1(style='text-align: left;')
          | Information
        h1(style='text-align: left;')
          | |> Opinion publique
        h1(style='text-align: left;')
          | |> Pouvoir
        br
        br
        br
        br
        section#mediacratie.level4
          h4 #Mediacratie ?

      section#section-medias-traditionels.level1.step.slide-dark(data-x='-4500', data-y='3500', data-z='0', data-rotate-y='180')
        h1 Médias traditionnels
        hr
        br
        h4 Presse écrite
        h4 TV
        h4 Radio

      section#section-7.level1.step.alert-slide(data-x='3000')
        img(src='images/alerte-info.png')

      section#section-8.level1.step.hide-when-inactive(data-x='3000', data-rotate-y='180', data-z='-10', data-scale='2')
        img(src='images/qi_lepoint.jpg', width='800', style='margin-top: 10px')
        img(src='images/qi_europe1.png', width='800', style='margin-top: 10px')
        img(src='images/qi_echos.jpg', width='800', style='margin-top: 10px')
        img(src='images/qi_rt.jpg', width='800', style='margin-top: 10px')
        img(src='images/qi_rmc.jpg', width='800', style='margin-top: 10px')
        img(src='images/qi_francebleu.jpg', width='800', style='margin-top: 10px')
        div
          section#section-9.level3
            h3 ...

      section#section-10.level1.step.slide(data-x='5500', data-y='375', data-z='500', data-rotate-y='90')
        h1
        section#journalisme-citoyen.level3
          h3 Journalisme Citoyen
          br
          br
          img(src='images/mastodon.png', width='200')
          img(src='images/medium.png', width='200')
          img(src='images/blogger.png', width='200')
          img(src='images/twitter.png', width='200')
          img(src='images/facebook.png', width='200')
          img(src='images/youtube.png', width='200')
      section#section-11.level1.step(data-x='5500', data-y='1250', data-z='500', data-rotate-y='90')
        figure
          img(src='images/gorafi.jpg')
        p
          br
        figure
          img(src='images/welnou.jpg')
      section#section-harold.level1.step.full(data-x='5500', data-y='2500', data-z='500', data-rotate-y='90')
        img(src='images/vaccins_alt.jpg')
      section#section-verite-raison.level1.step.slide-dark.enlarge-slide(data-x='5500', data-y='3600', data-z='500', data-rotate-y='90')
        h1 Pourquoi vouloir entendre la verité quand on peut entendre qu'on a raison ?
      section#section-12.level1.step(data-y='2000')
        img(src='images/wikipedia.png')
      section#section-13.level1.step.no-fadeout(data-y='50', data-x='-3000')
        section#aptainfact.level2
          h2
            img(src='images/icon.png', style='max-height: 135px;')
            | aptainFact
      section#section-14.level1.step.full.no-title.has-video(data-y='-1500', data-x='-3000')
        video.embed-responsive-item(muted='true')
          source(src='videos/youtube.mp4', type='video/mp4')
      section#section-15.level1.step.full.no-title(data-y='-3000', data-x='-3000')
        img(src='images/cf_article.png')
      section#section-16.level1.step.full.no-title.has-video(data-y='-4000', data-x='-3000')
        video.embed-responsive-item(muted='true')
          source(src='videos/debate.mp4', type='video/mp4')
      section#section-17.level1.step(data-y='-5000')
        img(src='images/69.png')
      section#section-18.level1.step(data-y='-4000')
        section.level4(id='suivre-des-médias-et-débattre-avec-des-gens-aux-opinions-différentes-des-notres')
          h4 Suivre des médias et débattre avec des gens aux opinions différentes des notres
      section#section-19.level1.step(data-y='-3500')
        section.level4(id='attaquer-les-idées-pas-les-personnes')
          h4 Attaquer les idées, pas les personnes
      section#section-20.level1.step(data-y='-3000')
        section.level4(id='être-sceptique-par-défaut')
          h4 Être sceptique par défaut
      section#section-21.level1.step(data-y='-2500')
        section.level4(id='se-méfier-du-hooligan-politique-qui-someille-en-nous')
          h4 Se méfier du hooligan politique qui someille en nous
      section#section-22.level1.step(data-y='-2000')
        section.level4(id='considérer-de-payer-pour-assurer-lindépendance-des-médias-qui-en-valent-la-peine')
          h4
            | Considérer de payer pour assurer l'indépendance des médias qui en valent la peine
      section#overview.level1.step(data-scale='6')
        h1

    // Include scripts
    script(src='vendor.js')
    script(src='app.js')
    script.
      require('initialize');
